## Final Project Submission

Please fill out:
* Student name: Matthew Gittings 
* Student pace: full time
* Scheduled project review date/time: 03/11/2022
* Instructor name: Praveed Gowtham
* Blog post URL:

In [3]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import csv
import numpy

In [4]:
movie_gross= pd.read_csv('zippedData/bom.movie_gross.csv')

In [5]:
movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [6]:
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [8]:
# Looks like movie Studio IFC has the most movies represented on this list

In [98]:
movie_gross.dropna(inplace=True)

In [111]:
movie_gross['foreign_gross'] = movie_gross['foreign_gross'].astype(int)

ValueError: invalid literal for int() with base 10: '1,131.6'

In [103]:
international_gross = movie_gross['domestic_gross'] + movie_gross['foreign_gross']

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [13]:
movie_gross.sort_values(by='domestic_gross',ascending=False)

,title,studio,domestic_gross,foreign_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015
3080,Black Panther,BV,700100000.0,646900000,2018
3079,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018
1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015
727,Marvel's The Avengers,BV,623400000.0,895500000,2012
...,...,...,...,...,...
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [ ]:
# Getting some NaN at the bottom for domestic gross

In [15]:
movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv')

In [16]:
movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [17]:
movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [19]:
movie_budgets.sort_values(by='production_budget',ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
406,7,"Nov 6, 2015",The Peanuts Movie,"$99,000,000","$130,178,411","$250,091,610"
407,8,"Feb 8, 2019",The LEGO Movie 2: The Second Part,"$99,000,000","$105,806,508","$190,325,698"
408,9,"Nov 21, 2018",Robin Hood,"$99,000,000","$30,824,628","$84,747,441"
5326,27,"Jun 1, 2007",And Then Came Love,"$989,000","$8,158","$8,158"
409,10,"May 4, 2001",The Mummy Returns,"$98,000,000","$202,007,640","$435,040,395"
...,...,...,...,...,...,...
5242,43,"Aug 3, 2005",Junebug,"$1,000,000","$2,678,010","$3,553,253"
5241,42,"Oct 21, 2011",Martha Marcy May Marlene,"$1,000,000","$2,981,038","$5,438,911"
5240,41,"Jun 6, 2014",Obvious Child,"$1,000,000","$3,122,616","$3,324,070"
5239,40,"Aug 21, 1998",Next Stop Wonderland,"$1,000,000","$3,395,581","$3,465,703"
5325,26,"Dec 22, 2015",Por amor en el caserio,"$1,000,000",$0,$0

In [39]:
title_basics = pd.read_csv('zippedData/imdb.title.basics.csv')

In [78]:
title_basics = title_basics.rename(columns={'primary_title':'title','start_year':'year'})

In [79]:
title_basics.head()

,tconst,title,original_title,year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [59]:
title_basics['genres'].value_counts()

Documentary                   32185
Drama                         21486
Comedy                         9177
Horror                         4372
Comedy,Drama                   3519
                              ...
Crime,Family,Thriller             1
Comedy,Family,History             1
Crime,Music,Mystery               1
Documentary,Musical,Sport         1
Action,Animation,Biography        1
Name: genres, Length: 1085, dtype: int64

In [67]:
title_basics.shape

(146144, 6)

In [69]:
movie_gross.shape

(3387, 5)

In [80]:
outer_merged = movie_gross.merge(title_basics,on=["title","year"])

In [81]:
outer_merged

,title,studio,domestic_gross,foreign_gross,year,tconst,original_title,runtime_minutes,genres
0,Toy Story 3,BV,415000000.0,652000000,2010,tt0435761,Toy Story 3,103.0,"Adventure,Animation,Comedy"
1,Inception,WB,292600000.0,535700000,2010,tt1375666,Inception,148.0,"Action,Adventure,Sci-Fi"
2,Shrek Forever After,P/DW,238700000.0,513900000,2010,tt0892791,Shrek Forever After,93.0,"Adventure,Animation,Comedy"
3,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,tt1325004,The Twilight Saga: Eclipse,124.0,"Adventure,Drama,Fantasy"
4,Iron Man 2,Par.,312400000.0,311500000,2010,tt1228705,Iron Man 2,124.0,"Action,Adventure,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
1868,Girls vs Gangsters,WGUSA,37100.0,NaN,2018,tt7870578,Gui mi 2,120.0,"Comedy,Drama"
1869,The Workshop,Strand,22100.0,NaN,2018,tt7405478,The Workshop,80.0,Thriller
1870,A Paris Education,KL,21600.0,NaN,2018,tt6593240,Mes provinciales,137.0,Drama
1871,The Quake,Magn.,6200.0,NaN,2018,tt6523720,Skjelvet,106.0,"Action,Drama,Thriller"
1872,An Actor Prepares,Grav.,1700.0,NaN,2018,tt5718046,An Actor Prepares,97.0,Comedy

In [73]:
outer_merged['genres'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Adventure,Animation,Comedy
1          Action,Adventure,Sci-Fi
2       Adventure,Animation,Comedy
3          Adventure,Drama,Fantasy
4          Action,Adventure,Sci-Fi
                   ...
3361                Comedy,Romance
3362                   Documentary
3363          Crime,Drama,Thriller
3364         Action,Drama,Thriller
3365                        Comedy
Name: genres, Length: 3366, dtype: object>

In [77]:
outer_merged[(outer_merged['domestic_gross']),(outer_merged['title'])]

TypeError: '(0       415000000.0
1       292600000.0
2       238700000.0
3       300500000.0
4       312400000.0
           ...
3361        11400.0
3362        11400.0
3363         8900.0
3364         6200.0
3365         1700.0
Name: domestic_gross, Length: 3366, dtype: float64, 0                      Toy Story 3
1                        Inception
2              Shrek Forever After
3       The Twilight Saga: Eclipse
4                       Iron Man 2
                   ...
3361                      Souvenir
3362                      Souvenir
3363           Beauty and the Dogs
3364                     The Quake
3365             An Actor Prepares
Name: title, Length: 3366, dtype: object)' is an invalid key